body {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

label {
  font-size: 20px;
  font-weight: 600;
  /* color: white; */
}

form.signup,
form.login {
  margin-top: 30px;
}

.navbar-brand {
  color: black;
  font-size: 28px;
}

.navbar {
  margin-bottom: 20px;
}

.nav-item {
  margin-left: 10px;
}

.navi-link {
  color: black;
  font-size: 16px;
  display: inline;
  font-weight: bolder;
}

.navi-link:hover {
  text-decoration: none;
  font-size: 150%;
  color: #CB997E;
}

.nav-tabs .nav-link.active {
  color: black;
}

.buy-nav {
  background-color: #CB997E !important;
  border-color: #CB997E !important;
  color: black;
}

.signupText {
font-size: 36px;
}

.signlogRow {
  justify-content: center;
  margin-top: 20px
}

.form-control {
box-shadow: none;
}

.btn {
  background-color: #CB997E;
  font-size: 20px;
  font-weight: 500;
}

.carousel {
  text-align: center;
}

.main-img {
  width: 150%;
  border-style: double;
  margin-bottom: 20px;
}

.card {
  margin-right: 20px;
  margin-bottom: 20px;
  border-style: outset;
  border-color: black;
}

.sold-plant {
  justify-content: center;
}

.sold-header {
  justify-content: center;
  text-align: center
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.half {
  width: 50%;
}

.sell-text {
  background: transparent;
  border: transparent;
}

#btn-color {
  background-color: #CB997E;
  border-color: #CB997E;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://wallpaperaccess.com/full/1741967.jpg);
  background-attachment: fixed;
  background-size: 100%;
  opacity: 0.3;
  filter:alpha(opacity=30);
}

#main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://wallpaperaccess.com/full/1741991.jpg);
  background-attachment: fixed;
  background-size: 100%;
  opacity: 0.4;
  filter:alpha(opacity=40);
}

@media (min-width: 576px) {

.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

}

@media (min-width: 313px) {
  
  .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }

}


#gardenCont{

  text-align: center;
}

#shopCont{

  text-align: center;
  background-color: white;
}

